
.home-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    margin-top: 40px;
}

